doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 頼りになるOracle DBAになるためのはじめの一歩

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h2 頼りになるOracle DBAになるための はじめの一歩
        h3
        h3
        p JAWS-UG中央線 第2回勉強会
        p 2014.05.30 Fri.

      section.gif.gif--profile
        h2 藤本 竜之介
        h3 Ryunosuke FUJIMOTO
        h3
          a(href='https://twitter.com/r_fujimoto') @r_fujimoto

      section
        h3 2014- Oracle DBA に任命される
        h3 2013- Infrastructure as Code に目覚める
        h3 2011- Googleライクな特許検索サービスを開発

      section
        h1 DBA

      section
        h2.bullet DBAがやりたいこと
        h3 Oracleの動作検証
        h3 Schemaの変更管理
        h3 DBのバックアップ/リストア
        h3 SQLの性能チューニング

      section
        h1 とにかくoracle使える環境がほしい

      section
        h1 30分以内で!!!

      section
        h1 Oracle on AWS

      section.gif.gif--fight
        h1 EC2 vs RDS

      section
        a(href='http://www.slideshare.net/InsightTechnology/a31-oracle-yoshida')
          img(src='http://image.slidesharecdn.com/a31oracleyoshida-131122001746-phpapp02/95/slide-1-638.jpg' width='100%' alt='AWS上でOracleを利用するためのはじめの一歩')

      section
        h2 EC2
        ul
          li Oracleのインストールが必要
          li sshして、sqlplus できる
          li sshして、expdp/impdp できる
          li <a href="https://aws.amazon.com/jp/ec2/pricing">無料利用枠</a>あり
          li Tokyo Region, m3.medium: $0.161/h

      section
        h2 RDS
        ul
          li Oracleのインストールが不要（パラメータを選択するだけ）
          li ssh (して、sqlplus) できない
          li ssh (して、expdp/impdp) できない
          li 無料利用枠なし
          li Tokyo Region, db.m3.medium: $0.245/h

      section
        h2.bullet setup oracle on EC2
        ul
          li oracle-xe 11gをインストール
          li ti.microを使う場合の注意点

      section
        a(href='http://tachesimazzoca.blogspot.jp/2013/01/3000001.html')
          img(src='images/oracle-xe_setup.png' width='70%')
        small http://tachesimazzoca.blogspot.jp/2013/01/3000001.html

      section.light(data-bespoke-state='green')
        h1 私も Oracle  使いたい

      section
        h1 URL教えるから　自分でやってみ

      section.light(data-bespoke-state='green')
        h1 o(´^｀)o ｳｰ

      section
        h1 <strong>30分</strong>で　oracleを料理してみる

      section
        h2 oracleを料理するには？
        img(src='images/chef_spec_process.png' width='100%')

      section
        h2 Infrastructure as Code
        img(src='images/chef_spec_process_code.png' width='100%')

      section
        h2 Git
        a(href="http://bitbucket.org")
          img(alt="bitbucket" src="images/bitbucket" width="100%")

      section
        h2 CI
        a(href="http://wercker.com/")
          img(alt="wercker" src="images/wercker" width="100%")

      section
        h2 Communication
        a(href="https://www.atlassian.com/ja/software/hipchat/")
          img(alt="hipchat" src="images/hipchat" width="100%")

      section
        h2 hipchat
        img(alt="hipchat_sample.png" src="images/hipchat_sample.png" width="100%")

      section
        img(src='images/ci_process_42.jpg' width='100%')

      section.light(data-bespoke-state='green')
        h1 私も Oracle  使いたい

      section
        h2 これやってみ
        pre.language-bash
          code.
            $ git clone git@bitbucket.org:gits_fujimoto/oracle-chef-spec.git
            $ cd oracle-chef-spec
            $ sh cook-oracle

      section.light(data-bespoke-state='green')
        h1 ﾄﾞﾓ~♪ヽ(^-^ ) (v^ｰﾟ)ﾔｯﾀﾈ!!

      section
        h2.bullet だれもがAWS上で
        h2.bullet Oracleを使える環境は
        h2.bullet できあがった

      section
        h1 To be Oracle DBA

      section
        h2 Next Step is
        h3 Schemaの変更管理/Migrationか

      section
        h1 Thank you!
        img.avatar(src='images/profile.jpg')
        h3
          a(href='https://twitter.com/r_fujimoto') @r_fujimoto

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
